 body{
    background : #1a1a1a;
    backdrop-filter : blur(10px);
 }  
 
.container {
    display : flex;
    flex-direction : row;
    padding : 0 20px;
    justify-content : space-between;
    align-items : center;
    background : linear-gradient(90deg, rgb(78,45,74), rgb(102,58,98));
    backdrop-filter : blur (12px);
     
    

}
/* .container:hover{
    background-color: #1b1e25;

} */
.heading {
    font-weight : 700px;
    font-size : 28px;
    font-style:italic;
    color:#f0abfc;

}
 
.nav{
    display : flex;
    gap : 50px;
     
}
.nav a{
     
    text-decoration : none;
    color : #f0abfc;
}
.home{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:80px;
  padding:60px;
  
   
}

.profile-img{
  flex:1;
  display:flex;
  justify-content:center;
   
  width:350px;
  height:350px;
  border-radius:50%;
  object-fit:cover;

  border:6px solid rgba(255,255,255,0.2);

  box-shadow:
    0px 10px 30px rgba(0,0,0,0.3);

  transition:0.4s ease;

}
.profile-img:hover{
  transform:scale(1.03);
}
 
 
 
.home-head{
  flex:1;
  color:white;
}

.head1{
     /* color : rgb(103, 42, 97);
     font-size :50px;
     font-weight : bold;
     margin:0;
     width : 100%;
     line-height : 1.2;
     padding:0;
     margin:0;
     text-align : left;
      font-size:48px; */
  line-height:1.2;
  color:rgb(255, 210, 255);
  margin-bottom:20px;
     
     
     
}
.intro {
     font-size:22px;
  margin-bottom:10px;
  opacity:0.8;
}


.head2{
    color : rgb(78, 31, 73);
     font-size:70px;
  font-weight:bold;
  margin-bottom:20px;
     
    font-style : italic;
}
.typewriter {
    font-size : 2rem;
    color : #d46be8;
    font-weight : bold;
}
.about  {
    text-align : left;
    padding : 10px 40px;
    
      color : rgb(78, 31, 73);
      margin-bottom : 100px;
     
}
.about h1{
    text-align : center;
    color:  rgb(103, 42, 97);
    padding : 10px 40px;
    font-style : italic;
    margin-bottom : 50px;

}

   


.about h2 {
   color :rgb(122, 97, 146);
    font-weight : bold;
    
}
.education{
        
        
       color :rgb(122, 97, 146);
        margin-bottom : 100px;
}
.edu-head{
     text-align : center;
    color:  rgb(103, 42, 97);
    padding : 10px 40px;
    font-style : italic;
    margin-bottom : 100px;
    font-size : 30px;
    
}
.timeline {
  position: relative;
  margin: auto;
  width : 40%;
  padding-left: 40px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 3px;
  height: 100%;
  background: #d46be8;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.circle {
  position: absolute;
  left: -38px;
  width: 20px;
  height: 20px;
  background: #d46be8;
  border-radius: 50%;
  box-shadow: 0 0 15px #d46be8;
}

.content {
  background: rgba(255,255,255,0.08);
  padding: 15px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
}
.sub-timeline{
  margin-top:10px;
  padding-left:20px;
  border-left:2px solid #d46be8;
}

.sub-timeline div{
  margin:10px 0;
  color:#ccc;
}

 
.contact {
    text-align : left;
    padding : 10px 40px;
    background :  rgb(62,35,60);
        
     
    margin-top : 70px;
     
}
 
.contact h2 {
    color : #f0abfc;
    font-size : 20px;
    font-weight : bold;
}
.links {
    display : flex;
    gap : 20px;
    justify-content : center;
    align-items : center;
    margin-top :20px;
    
}
.links a{
     color : #d8b4fe;
     font-size : 20px;
     transition : 0.3s;
}
.links a:hover {
    color :  rgb(95, 66, 93);
}
.footer {
    text-align : center;
    padding : 20px;
    background-color:   #1a1a1a;
    color : rgb(53, 52, 52);
    margin-top : auto;

}
.proj{
    text-align : center;
    color:  rgb(103, 42, 97);
    padding : 10px 40px;
    font-style : italic;
    margin-bottom : 50px;
     
}
.proj1{
   border : 1px solid rgba(212,108,255,0.2);
    padding : 10px;
    background : rgba(180,70,255,0.08);
    color :rgb(122, 97, 146);
    height : 450px;
    width : 200px;
    margin-left : 40px;
    border-radius : 20px;
   box-shadow :0 8px 20px rgba(212,108,255,0.15);
    display : flex;
    flex-direction : column;
    justify-content:space-between;
    align-items : center;
}
.proj1:hover {
    transform : scale(1.05);
     box-shadow : 0 15px 35px rgba(212,108,255,0.35);

}
.btn-head{
    /* border: 1px solid black;
    padding : 10px;
    border-radius : 10px;
    background-color :#1a1a1a;
    color:rgb(92, 81, 68); */
    display : flex;
    gap : 20px;
}
.btn:hover{
    background-color : rgba(212,108,255,0.35);
    color:rgb(96, 81, 63);
}
.btn{
     border: 1px solid black;
    padding : 10px;
    border-radius : 10px;
    background-color :#1a1a1a;
    color:rgb(92, 81, 68);

}
.proj1 img{
    height : 180px;
    width : 100%;
    border-radius : 10px;
    margin-top : 10px;
    object-fit : cover;
}
.proj1 h2{
    color :  rgb(100, 43, 94);
    font-weight : bold;
     margin-top:5px;
}
.proj1 h3 {
    color:  rgb(122, 97, 146);
    font-size : 15px;
}
.proj2{
    border : 1px solid rgba(212,108,255,0.2);
    padding : 10px;
    background : rgba(180,70,255,0.08);
    color :rgb(122, 97, 146);
    height : 450px;
    width : 200px;
    margin-left : 40px;
    border-radius : 20px;
    box-shadow :0 8px 20px rgba(212,108,255,0.15);
    display : flex;
    flex-direction : column;
    justify-content:space-between;
     align-items : center;
}
.proj2:hover {
    transform : scale(1.05);
    box-shadow : 0 15px 35px rgba(212,108,255,0.35);

}
.proj2 img{
    height :180px;
    width : 100%;
    border-radius : 10px;
    margin-top : 10px;
    object-fit : cover;
}
.proj2 h2{
    color :  rgb(100, 43, 94);
    font-weight : bold;
    margin-top:5px;

}
.proj2 h3 {
    color:  rgb(122, 97, 146);
    font-size : 15px;
}
.proj3{
    border : 1px solid rgba(212,108,255,0.2);
    padding : 10px;
    background : rgba(180,70,255,0.08);
    color :rgb(122, 97, 146);
    height : 450px;
    width : 200px;
    margin-left : 40px;
    border-radius : 20px;
   box-shadow :0 8px 20px rgba(212,108,255,0.15);
    display : flex;
    flex-direction : column;
    justify-content:space-between;
    align-items : center;
}
.proj3:hover {
    transform :scale(1.05);
     box-shadow : 0 15px 35px rgba(212,108,255,0.35);

}
.proj3 img{
    height : 180px;
    width : 100%;
    border-radius : 10px;
    margin-top : 10px;
    object-fit : cover;
}
.proj3 h2{
    color :  rgb(100, 43, 94);
    font-weight : bold;
     margin-top:5px;
}
.proj3 h3 {
    color:  rgb(122, 97, 146);
    font-size : 15px;
}
.projects {
    display : flex;
    flex-direction : row;
    gap : 10px;
    padding : 20px;
    margin-bottom : 100px;
    /* flex-wrap : wrap; */

}
.progress {
    color : rgb(122, 97, 146);
    font-size : 18px;
    font-style : italic;
    text-align : center;
}
.proj-container {
    display : flex;
    flex-direction : row;
    gap : 20px;
    justify-content : center;
    align-items : center;
}
.home-btn{
  padding:14px 28px;
  border:none;
  border-radius:12px;
  font-size:18px;
  cursor:pointer;

   
  color:rgb(100, 43, 94);;

  transition:0.3s ease;
  margin-top :50px;
  background-color:#e879f9;
  text-decoration: none;
  
  
}

.home-btn:hover{
  transform:translateY(-5px);
  background-color:#d46cff;
}
.right {
     display : flex;
     flex-direction : column ;
     align-items: flex-start;
     justify-content : column;
}
.intro{ 
  font-size:22px;
  margin-bottom:10px;
  opacity:0.8;
}
 
.head {
    margin-top : 50px;
    text-align : center;
    color:  rgb(103, 42, 97);
    font-style : italic;
    font-size : 30px;
    margin-bottom : 50px;
}
.h1 {
    font-weight : bold;
    color : rgb(78,31,73);
    
    margin-top : 20px;
}
.tech-stack {
    display : flex;
    flex-direction : column;
    gap : 20px;
    padding : 20px;
   align-items : center;
   margin-bottom : 100px;

}
.tech-skill {
    border : 2px solid rgba(255,255,255,0.12);
    padding : 20px;
    /* background-color : rgb(73, 72, 72); */
    color :rgb(122, 97, 146);
    width : 500px;
    border-radius : 20px;
    box-shadow : rgb(78, 31, 73) 0px 4px 8px;
    backdrop-filter : blur(12px);
    background : rgba(180,70,255,0.08);
    translate : all 0.5s ease;
    text-align : center;
}
.tech-skill:hover{
    transform :  scale(1.05);

}
.tech-skill h2{
    color :rgb(122, 97, 146);
    
}
 



